RSS-Feed.json
{
  "name": "RSS-Feed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3ea348a5-1588-4946-a45b-7c6c5eae3f37",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        896,
        80
      ],
      "id": "69e4aa6e-07a5-4d01-aa49-ebccb53d7b1a",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        160
      ],
      "id": "39099771-acd8-48dd-adeb-be34ab0e6bb3",
      "name": "DroidSan-RSS"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        336
      ],
      "id": "5c311460-d0e4-4d53-825d-9e6d67f0c1e1",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        480
      ],
      "id": "2f28cda9-87be-4e5d-8e30-356c21508b5f",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JQoQCFCO7X3pXhKr",
          "mode": "list",
          "cachedResultName": "myDatable22",
          "cachedResultUrl": "/projects/utXawjOFVAS63EDt/datatables/JQoQCFCO7X3pXhKr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.isoDate }}",
            "News": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "id": "8098fce7-33e0-47b6-b6b1-5f27854dc518",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "DroidSan-RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DroidSan-RSS": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "979f468d-c064-4d5e-b144-f789624d352c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "012d3a8775f32d72759ba1c5d87ef85c938a6c8838308d234f586d527f91ca30"
  },
  "id": "iTQ4GDsK9PBtvuIK",
  "tags": []
}