RSS-Feed.json
{
  "name": "RSS-Feed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3ea348a5-1588-4946-a45b-7c6c5eae3f37",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        800,
        96
      ],
      "id": "69e4aa6e-07a5-4d01-aa49-ebccb53d7b1a",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        160
      ],
      "id": "39099771-acd8-48dd-adeb-be34ab0e6bb3",
      "name": "DroidSan-RSS"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        0
      ],
      "id": "a9a2ff67-6baa-4fae-990c-fa19ae5e0c7e",
      "name": "TechTalk-RSSRead"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        336
      ],
      "id": "5c311460-d0e4-4d53-825d-9e6d67f0c1e1",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        480
      ],
      "id": "2f28cda9-87be-4e5d-8e30-356c21508b5f",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "lft7tkCly6j5TdWB",
          "mode": "list",
          "cachedResultName": "myDatatable",
          "cachedResultUrl": "/projects/utXawjOFVAS63EDt/datatables/lft7tkCly6j5TdWB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $json.link }}",
            "news": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "news",
              "displayName": "news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1008,
        432
      ],
      "id": "623c2a45-0359-4f9c-bdf7-7b6468a167b1",
      "name": "Insert row"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1008,
        240
      ],
      "id": "2fbec17e-0128-490c-aadb-2272b3f46104",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "7fjAECBJJqeAXVoj",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1216,
        240
      ],
      "id": "2a0fd200-9389-4138-b208-606dcf8473da",
      "name": "Telegram Trigger",
      "webhookId": "6d85dba9-0f35-450f-8934-3a0853baa627"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "TechTalk-RSSRead",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "DroidSan-RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DroidSan-RSS": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechTalk-RSSRead": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fdfada14-3ff6-4e0e-89ea-97842a40821e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "012d3a8775f32d72759ba1c5d87ef85c938a6c8838308d234f586d527f91ca30"
  },
  "id": "iTQ4GDsK9PBtvuIK",
  "tags": []
}